--- 
const { text, title } = Astro.props;
---
<article class="card">
  <h3><slot /> {title}</h3>
  <p>{text}</p>
</article>

<style>
  article {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    box-shadow: 0 2px 24px -6px rgba(0, 0, 0, 0.12);
    padding: clamp(1rem,calc(.125rem + 3vw),2.5rem);
    z-index: 1;
  }

  article h3 {
    align-items: center;
    display:flex;
    font-family: var(--sl-font);
    font-weight: 600;
    gap: 0.75rem;
    margin: 0;
    padding: 0;
  }

  article p {
    line-height: 180%;
    margin: 0;
    padding: 1rem 0 0 0;
  }
</style>
