---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { SplashDemo } from '../components/SplashDemo';

import '../index.css';
---
<script type="text/javascript" src="https://steadyhq.com/widget_loader/f77c9ef4-7d2d-48eb-8362-348cd66e7026"></script>
<StarlightPage frontmatter={{ 
  template: 'splash', 
  title: 'Annotorious',
  hero: {
    tagline: 'Add image annotation functionality to your website or app with a few lines of JavaScript.',
    actions: [{
      text: 'Get Started',
      link: '/getting-started',
      icon: 'right-arrow'
    }]
  }}}>
      
  <SplashDemo client:only="react" />

  <h2>Become a Sponsor</h2>

  <p>
    Using Annotorious at work? Become a sponsor!
  </p>

  <div id="insert_steady_checkout_here" style="display: none;"></div>
</StarlightPage>

<style>
  :global(.hero, .hero *) {
    align-items: center !important;
    display: flex !important;
    justify-content: center;
    text-align: center;
  }

  :global(.hero) {
    padding-block: clamp(2.5rem, calc(1rem + 4vmin), 8rem);
  }

  :global(.sl-container) {
    position: relative;
  }
</style>
