--- 
import { ArrowRight, Heart, MessagesSquare, MonitorSmartphone, Puzzle, Rocket, Wrench } from 'lucide-react';
import { Bluesky, Github, Mastodon } from 'simple-icons-astro';
import { Code } from '@astrojs/starlight/components';
import { CodeCarousel } from '../components/CodeCarousel';
import Card from './_card.astro';

import '../index.css';
---
<html>
  <head>
  </head>

  <body>
    <header>
      <a class="sponsor" href="https://steadyhq.com/rainer-simon">
        <Heart size={18} strokeWidth={2.5} /> Sponsor
      </a>

      <a href="https://github.com/orgs/annotorious/discussions">
        <MessagesSquare size={22} strokeWidth={1.8} /> Community 
      </a>

      <a href="https://github.com/annotorious/annotorious">
        <Github size={22} /> Github 
      </a>
    </header>

    <div class="container">
      <div class="hero">
        <div class="glow" />

        <h1>Annotorious</h1> 
        <p>
          Add image annotation functionality to your site 
          with a few lines of JavaScript.
        </p> 

        <div class="cta">
          <a href="/getting-started">
            <span>Get Started</span> <ArrowRight size={22} />
          </a>
        </div>
      </div>

      <div class="section">
        <div class="card-grid">
          <Card 
            title="Integrate Anywhere" 
            text="Get started quickly with minimal setup. Client-only, with no server-side dependencies.">
            <Puzzle size={20} color="#44af69" />
          </Card>

          <Card 
            title="Customize" 
            text="Create your own look & feel. Define data-driven styles. Plug in your own tooltips, popups and editors.">
            <Wrench size={20} color="#f8333c"/>
          </Card>

          <Card 
            title="Build" 
            text="A comprehensive JavaScript API that has everything you need to build your own, tailor-made annotation applications.">
            <Rocket size={20} color="#fcab10"/>
          </Card>

          <Card 
            title="Use Everywhere" 
            text="Annotorious works on desktop and mobile devices and supports touch interaction.">
            <MonitorSmartphone size={20} color="#2b9eb3"/>
          </Card>
        </div>
      </div>

      <div class="section">
        <div class="framework-logos">
          <img src="/images/logo-js.svg" /> 
          <img src="/images/logo-ts.svg" /> 
          <img src="/images/logo-react.svg" /> 
          <img src="/images/logo-svelte.svg" /> 
        </div>
        
        <p class="narrow">
          Install Annotorious via package manager or import directly with a script tag. 
          With official bindings for React and Svelte and full TypeScript support.
        </p>

        <CodeCarousel client:only="react">
          <div>Foo</div>
          <div>Bar</div>
          <div>Baz</div>
        </CodeCarousel>
      </div>
    </div>

    <footer>
      <p>
        &copy; {new Date().getFullYear()} 
        &centerdot;
        <a href="https://rainersimon.io">Rainer Simon</a>
        &centerdot; BSD-3-Clause License
      </p>

      <p>
        Need help? Join the <a href="https://github.com/orgs/annotorious/discussions">Discussion Forum</a>.
      </p>

      <ul>
        <li>
          <Github /> <a href="https://github.com/rsimon">Github</a>
        </li>

        <li>
          <Mastodon /> <a href="https://vis.social/@aboutgeo">Mastodon</a>
        </li>

        <li> 
          <Bluesky /> <a href="https://bsky.app/profile/aboutgeo.bsky.social">Bluesky</a>
        </li>

        <li>
          <Heart size={18} strokeWidth={2.5} /> <a href="https://steadyhq.com/rainer-simon">SteadyHQ</a>
        </li>
      </ul>
    </footer>
  </body>
</html>

<style>
  html, body {
    color: #353841;
    font-family: var(--sl-font);
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
    padding: 0;
  }

  header {
    box-sizing: border-box;
    display: flex;
    gap: 2.5rem;
    justify-content: flex-end;
    padding: 1.5rem 2rem;
  }

  header a {
    align-items: center;
    color: #353841;
    display: flex;
    gap: 0.325rem;
    text-decoration: none;
  }

  header a.sponsor {
    border: 1.5px solid rgba(53, 56, 65, 0.9);
    border-radius: 1000vw;
    padding: 0.325rem 0.825rem;
  }

  .container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1080px;
    padding: 1rem 1.5rem;
  }

  .hero {
    padding: 2rem 0 1rem 0;
    position: relative;
  }

  .hero .glow {
    background: 
      linear-gradient(90deg, #fcab10 0%, #2b9eb3 80%);   
    filter: blur(80px);
    height: 60%;
    opacity: 0.2;
    position: absolute;
    top: 40%;
    left: -10%;
    transform: rotate(6deg);
    width: 120%;
    z-index: 0;
  }

  .hero h1 {
    font-family: Megrim;
    font-size: 3.8rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }

  .hero p {
    font-size: 1.35rem;
    font-weight: 300;
    line-height: 160%;
    margin: 0;
    max-width: 30ch;
    padding: 1rem 0;
  }

  .cta {
    padding: 2rem 0;
    position: relative;
    z-index: 1;
  }

  .cta a {
    align-items: center;
    background-color: #f8942c;
    border-radius: 1000vw;
    color: #fff;
    display: inline-flex;
    gap: 0.75rem;
    padding: 1rem 1.25rem;
    text-decoration: none;
  }

  .section { 
    margin-top: 5rem;
  }

  .card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    .card-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .framework-logos {
    align-items: flex-end;
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding-top: 2rem;
  }

  .framework-logos img {
    height: 4rem;
  }

  :global(.section .expressive-code) {
    margin: 0 auto;
    max-width: 75ch;
  }

  .section p {
    line-height: 180%;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
  }

  .section p.narrow {
    max-width: 65ch;
  }

  footer {
    background-color: rgba(0, 0, 0, 0.85);
    color: #b9b9b9;
    font-weight: 300;
    margin-top: 6rem;
    padding: 2rem;
    text-align: center;
  }

  footer p {
    margin: 0.5rem 0;
    padding: 0;
  }

  footer a {
    color: #fff;
  }

  footer ul {
    align-items: center;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 4rem 0 0 0;
  }

  footer li {
    color: #fff;
    display: flex;
    gap: 0.5rem;
  }

  footer li a {
    text-decoration: none;
  } 

  footer li a:hover {
    text-decoration: underline;
  }
</style>