.image-example {
  margin-top: 1.5rem;
  max-width: 100%;
  width: fit-content;
}

.image-example .actions {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.image-example .actions > div {
  display: flex;
  gap: 0.5rem;
  margin-top: 0;
}

.image-example .actions button {
  all: unset;
  background-color: var(--sl-color-bg-sidebar);
  border: 1px solid var(--sl-color-hairline-shade);
  border-radius: 0.25rem;
  color: var(--sl-color-gray-4);
  cursor: pointer;
  display: flex;
  font-size: 0.825rem;
  font-weight: 600;
  gap: 0.325rem;
  margin-top: 0;
  padding: 0.25rem 0.625rem;
}

.image-example .actions button:hover:not(.active) {
  color: var(--sl-color-white);
}

.image-example .actions button.polygon svg {
  transform: rotate(-12deg);
}

.image-example .actions button.active {
  background-color: var(--sl-color-text-accent);
  border-color: var(--sl-color-text-accent);
  color: #fff;
}