.openseadragon-example {
  margin-top: 1.5rem;
}

.openseadragon-example .openseadragon-canvas {
  outline: none;
}

.openseadragon-example .osd-container {
  background-color: #f1f5f9;
  border: 1px solid var(--sl-color-hairline-shade);
  height: 400px;
  width: 100%;
}

.openseadragon-example .actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  width: 640px;
}

.openseadragon-example .actions button {
  all: unset;
  border-radius: 0.25rem;
  color: var(--sl-color-gray-4);
  cursor: pointer;
  display: flex;
  font-size: 0.825rem;
  font-weight: 600;
  gap: 0.325rem;
  padding: 0.25rem 0.625rem 0.25rem 0.5rem;
}

.openseadragon-example .actions button:hover:not(.active) {
  color: var(--sl-color-white);
}

.openseadragon-example .actions button.polygon svg {
  transform: rotate(-12deg);
}

.openseadragon-example .actions button.active {
  background-color: var(--sl-color-text-accent);
  color: #fff;
}

.openseadragon-example .a9s-annotationlayer,
.openseadragon-example .a9s-gl-canvas {
  margin-top: 0 !important;
  height: 100% !important;
}