.splash-demo {
  background-color: red;
  height: 540px;
  left: 0;  
  position: absolute;
  width: 100%;
/* Feathering/fading effect using radial gradient */
mask-image: radial-gradient(farthest-corner at 100% 0%, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 60%);
-webkit-mask-image: radial-gradient(farthest-corner at 100% 0%, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 60%);
}

.splash-demo img {
  max-width: 100%;
}