.splash-demo {
  border-radius: 0 0 0.75rem 0.75rem;
  margin: 0 !important;
  position: relative;
}

.splash-demo .glow {
  background: 
    linear-gradient(90deg, rgb(246, 158, 28) 0%, rgb(220, 40, 40) 26.5625%, rgb(39, 100, 235) 64%, rgb(22, 163, 74) 100%);   
  filter: blur(100px);
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}

:root[data-theme='dark'] .splash-demo .glow {
  background: 
    linear-gradient(90deg, #7c9fff 0%, rgb(129, 7, 129) 50%, rgb(14, 131, 57) 100%);   
  filter: blur(140px);
  opacity: 0.6;
}

.splash-demo .mock-browser {
  background-color: #fff;
  border-radius: 0.75rem;
  box-shadow: 0 0.1em 1.5em 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80vw;
  min-height: 480px;
  position: relative;
  width: 100%;
}

.splash-demo .mock-browser-toolbar {
  align-items: center;
  background-color: #f4edec;
  border-radius: 0.75rem 0.75rem 0 0;
  display: flex;
  flex: 0 0 auto;
  height: 3rem;
  position: relative;
  z-index: 1;
}

.splash-demo .mock-browser-toolbar:before {
  display: block;
  position: absolute;
  content: '';
  top: 1.25rem;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #fe6058;
  box-shadow: 0 0 0 2px #fe6058, 1.5em 0 0 2px #febc30, 3em 0 0 2px #28c840;
}

.splash-demo .mock-browser-toolbar .input {
  background-color: #e7e0de;
  border-radius: 0.375rem;
  color: #454443;
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0 auto;
  width: 40%;
  padding: 0.125rem 1rem;
}

.splash-demo .mock-browser > div:nth-child(2) {
  display: flex !important;
  flex-grow: 1;
  margin-top: 0;
}

.splash-demo img {
  display: block;
  flex-grow: 1;
  margin-top: 0 !important;
  object-fit: cover;
  border-radius: 0 0 0.75rem 0.75rem;
}