---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { Icon } from '@astrojs/starlight/components';
import { ImageExample } from '../../components/ImageExample';
import { Check } from 'lucide-react';
---
<StarlightPage 
  frontmatter={{ title: 'Getting Started' }}
  headings={[{
    depth: 2,
    slug:'javascript-api',
    text: 'JavaScript API'
  },{
    depth: 2,
    slug:'using-annotorious',
    text: 'Using Annotorious'
  }]}>

  <p>
    Annotorious is a JavaScript library for adding image annotation 
    capabilities to your web application. Try it out below: <strong>click</strong> or 
    <strong>tap</strong> the annotation to edit.
    <strong>Click or tap anywhere and drag</strong> to create a new annotation.
  </p>

  <p>
    <ImageExample client:only="react" />
  </p>

  <p>
    Use the icons to switch between rectangle and polygon drawing modes. To 
    close a polygon shape, <strong>double click with your mouse</strong>, or 
    <strong>keep your finger on the screen and hold for a moment</strong> on 
    a touch device.
  </p>

  <h2 id="javascript-api">JavaScript API</h2>

  <p>
    The Annotorious JavaScript API gives you programmatic control over 
    annotations, enables you to customize behavior and visual styling, and
    integrate Annotorious with the rest of your application. 
  </p>

  <p>
    With the API, you can:
  </p>

  <ul>
    <li>add, remove or update annotations programmatically,</li>
    <li>listen to user events,</li>
    <li>set filters,</li>
    <li>apply data-driven styles, etc.</li>
  </ul>

  <h2 id="using-annotorious">Using Annotorious</h2>

  <p>
    You can use Annotorious into your project in several ways, depending
    on your types of images and preferred JavaScript framework. 
  </p>
  
  <p>
    Annotorious supports <strong>standard images</strong> (JPEGs, PNGs) and 
    high-resolution <strong>zoomable images</strong> with the 
    <a href="https://openseadragon.github.io/" target="_blank">OpenSeadragon viewer</a>, including
    images served via <a href="https://iiif.io/" target="_blank">IIIF</a>.
    It works with vanilla JavaScript, but also provides bindings for 
    <a href="https://react.dev/" target="_blank">React</a>.
    Bindings for <a href="https://svelte.dev/" target="_blank">Svelte</a> 
    are currently under development.
  </p>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>
          <div>Images</div>
        </th>
        <th>
          <div>OpenSeadragon</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <span><Icon name="seti:javascript" /> Vanilla JavaScript</span>
        </td>
        <td>
          <div><Check size={18} /></div>
        </td>
        <td>
          <div><Check size={18} /></div>
        </td>
      </tr>
      <tr>
        <td>
          <span><Icon name="seti:react" /> React</span>
        </td>
        <td>
          <div><Check size={18} /></div>
        </td>
        <td>
          <div><Check size={18} /></div>
        </td>
      </tr>
      <tr>
        <td>
          <span><Icon name="seti:svelte" /> Svelte</span>
        </td>
        <td>
          <div>incomplete</div>
        </td>
        <td>
          <div>incomplete</div>
        </td>
      </tr>
    </tbody>
  </table>
</StarlightPage>

<style>
  table {
    padding-top: 2rem;
  }

  td > span {
    align-items: center;
    display: flex;
    gap: 0.75rem;
  }

  td > div,
  th > div {
    display: flex;
    justify-content: center;
  }
</style>


