---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { ImageExample } from '../../components/ImageExample';
---

<StarlightPage 
  frontmatter={{ title: 'Getting Started' }}
  headings={[{
    depth: 2,
    slug:'javascript-api',
    text: 'JavaScript API'
  }]}>

  <p>
    Annotorious is a JavaScript library for adding advanced image annotation 
    capabilities to your web application. Try it out below: <strong>click</strong> or 
    <strong>tap</strong> the annotation to edit, 
    <strong>click or tap anywhere and drag</strong> to create a new annotation.
  </p>

  <p>
    <ImageExample client:only="react" />
  </p>

  <p>
    Use the icons to <strong>switch between rectangle and polygon</strong> 
    drawing modes. When drawing a polygon, <strong>double click with your 
    mouse</strong> to close the shape, or <strong>keep your finger on the 
    screen and hold for a moment</strong> on a touch device.
  </p>

  <h3 id="javascript-api">JavaScript API</h3>

  <p>
    The Annotorious JavaScript API gives you programmatic control over 
    annotations, enabling you to customize behavior and visual styling, and
    integrate Annotorious with the rest of your application. With the API, 
    you can:
  </p>

  <ul>
    <li>Add, remove or update annotations programmatically</li>
    <li>Listen to user events</li>
    <li>Set filters</li>
    <li>Declare data-driven styles</li>
  </ul>

  <p>
    You can integrate Annotorious into your project in several ways, depending
    on your types of images and preferred JavaScript framework. Annotorious 
    supports <strong>standard images (JPEGs, PNGs, etc.)</strong> as well as 
    high-resolution zoomable images with the 
    <a href="https://openseadragon.github.io/" target="_blank">OpenSeadragon viewer</a>,
    and works with vanilla JavaScript as well as <a href="https://react.dev/" target="_blank">React</a> 
    and <a href="https://svelte.dev/" target="_blank">Svelte</a>.
  </p>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Standard Images</th>
        <th>OpenSeadragon</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Vanilla JS</td>
        <td>✅</td>
        <td>✅</td>
      </tr>
      <tr>
        <td>React</td>
        <td>✅</td>
        <td>✅</td>
      </tr>
      <tr>
        <td>Svelte</td>
        <td>✅</td>
        <td>✅</td>
      </tr>
    </tbody>
  </table>
</StarlightPage>


