@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

:root {
  --sl-font: 'Nunito Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', sans-serif;
  --sl-text-h1: 2rem;
  --sl-text-h2: 1.5rem;
  --sl-text-h3: 1.15rem;
  --sl-text-2xl: 1.25rem;
  --sl-text-3xl: 1.4rem;
  --sl-text-4xl: 1.8rem;
  --sl-text-5xl: 2.25rem;
  --sl-text-6xl: 3.4rem;
}

:root[data-theme='light'] {
  --sl-color-bg: #fff;
  --sl-color-bg-nav: #fff;
  --sl-color-bg-sidebar: #f8fafc;
  --sl-color-hairline-shade: #e2e8f0;
  --sl-color-text-accent: #f8942c;
  --sl-color-orange: #f8942d;
  --sl-color-orange-high: #6f4010;
  --sl-color-orange-low: #ffedda;
}

:root[data-theme='dark'] {
  --sl-color-text-accent: #7c9fff;
}

.social-icons a {
  color: var(--sl-color-white);
}

.site-title {
  font-family: Megrim;
  font-size: 2.75rem;
  font-weight: 400;
}

.right-sidebar {
  background-color: var(--sl-color-bg-sidebar);
}

code {
  border-radius: 3px;
}

h1, h2, h3, h4 {
  font-family: Raleway;
  font-weight: 700;
}

table {
  background-color: var(--sl-color-bg-sidebar);
  border: 1px solid var(--sl-color-hairline-shade);
  border-radius: 0.25rem;
  font-size: 0.875rem;
  margin-top: 1.5rem !important;
  padding: 0.5rem 1.5rem !important;
  width: 100%;
}

@media (min-width: 50em) {

  table { display: table !important; }

  .expressive-code .copy button {
    width: 1.5rem;
    height: 1.5rem;
  }
  
}

aside.starlight-aside {
  border-radius: 0.25rem;
}

table tr:last-child td {
  border-bottom: none;
}

.sl-markdown-content h2 {
  margin-top: 3rem !important;
}

.sl-markdown-content h3 {
  margin-top: 3rem !important;
}

.sl-markdown-content p + h3,
.sl-markdown-content table + h3 {
  margin-top: 4.5rem !important;
}

.sl-markdown-content h3 + p {
  margin-top: 0.75rem;
}

svg.a9s-annotationlayer {
  margin-top: 0 !important;
}