@font-face {
  font-family: 'Nunito Sans';
  src: url('/fonts/NunitoSans-Variable.ttf'); 
}

@font-face {
  font-family: Megrim;
  src: url('/fonts/Megrim-Regular.ttf'); 
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Variable.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Italic-Variable.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  --sl-font: 'Nunito Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', sans-serif;
  --sl-text-h1: 2rem;
  --sl-text-h2: 1.5rem;
  --sl-text-h3: 1.15rem;
  --sl-text-2xl: 1.25rem;
  --sl-text-3xl: 1.4rem;
  --sl-text-4xl: 1.8rem;
  --sl-text-5xl: 2.25rem;
  --sl-text-6xl: 3.4rem;
}

:root[data-theme='light'] {
  --sl-color-bg: #fff;
  --sl-color-bg-nav: #fff;
  --sl-color-bg-sidebar: #f8fafc;
  --sl-color-hairline-shade: #e2e8f0;
  --sl-color-text-accent: #f8942c;

  --sl-color-orange: #2d91f8;
  --sl-color-orange-high: #156ac1;
  --sl-color-orange-low: #b6daff;

  --sl-color-purple: #2d91f8;
  --sl-color-purple-high: #156ac1;
  --sl-color-purple-low: #b6daff;
}

:root[data-theme='dark'] {
  --sl-color-text-accent: #7c9fff;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.social-icons a {
  color: var(--sl-color-white);
}

.site-title {
  font-family: Megrim;
  font-size: 2.75rem;
  font-weight: 400;
}

.right-sidebar {
  background-color: var(--sl-color-bg-sidebar);
}

code {
  border-radius: 3px;
}

h1, h2, h3, h4 {
  font-family: Raleway;
  font-weight: 700;
}

table {
  background-color: var(--sl-color-bg-sidebar);
  border: 1px solid var(--sl-color-hairline-shade);
  border-radius: 0.25rem;
  font-size: 0.875rem;
  margin-top: 1.5rem !important;
  padding: 0.5rem 1.5rem !important;
  width: 100%;
}

@media (min-width: 50em) {

  table { display: table !important; }

  .expressive-code .copy button {
    width: 1.5rem;
    height: 1.5rem;
  }
  
}

aside.starlight-aside {
  border-radius: 0.25rem;
}

table tr:last-child td {
  border-bottom: none;
}

.sl-markdown-content h2 {
  margin-top: 3rem !important;
}

.sl-markdown-content h3 {
  margin-top: 3rem !important;
}

.sl-markdown-content p + h3,
.sl-markdown-content table + h3 {
  margin-top: 4.5rem !important;
}

.sl-markdown-content h3 + p {
  margin-top: 0.75rem;
}

svg.a9s-annotationlayer {
  margin-top: 0 !important;
}